button.success, .button.success {
	background-color: #ae2573 !important;
	border-color: #ae2573 !important;
	color: #fff;
}

button.success:hover, button.success:focus, .button.success:hover,
	.buton.success:focus {
	background-color: #941260 !important;
}

h3 {
	text-align: center;
}

button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    background-color: #cf2a0e;
}